<div class="title p-3 is-flex">
  <i class='fas fa-map-marker-alt' style='font-size:24px;color:Dodgerblue'></i>
  <i class='fas fa-mug-hot' style='font-size:48px;color:Dodgerblue'></i>
  <div class="ml-4">CoffeeHub</div> 
</div>