<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="CoffeeHub" subTitle="Login"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

    <div class="columns">
      <div class="column has-text-centered">
        <img width="300" src="images/espresso-machine-pulling-a-shot-royalty-free-image-1572451206.jpg">
      </div>
      <div class="column">
        <div class="box">
          <h1 class="title">Log in</h1>
          {{> LoginForm }}
        </div>
      </div>
    </div>
