<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="CoffeeHub" subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> Sign up or Log in... </h>
  </div>
  <div class="column">
    <img src="/images/coffee-hot_4DW84GDZ41.jpg">
  </div>
</div>