{{> menu active="userCredentials-view"}}


<section class="hero">
<div class="hero-body has-text-centered">
    <p class="title ">
      Update / View Current Credentials
    </p>
    <div class="box">
    <div class="columns">
        <div class="column">
            <figure class="image is-256x256">
                    <img class="is-rounded" src="https://cdn.glitch.com/fbaeed56-6cf5-40dc-b8c3-808eaf2c9e7b%2Fthumbnails%2Fimage3.png?1630967204535">
            </figure>
        </div>
        <div class="column">
            <form class="box" action="/editUser" method="POST">
                    <label><i>**Input all entries, including unchanging parameters**</i></label>
                    <div class="field">
                        <div class="field">
                            <label>First Name</label>
                            <input class="input" placeholder="First Name" type="text" name="firstName">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input class="input" placeholder="Last Name" type="text" name="lastName">
                        </div>
                
                        <div class="field">
                            <label>Email</label>
                            <input class="input" placeholder="Email" type="text" name="email">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input class="input" type="password" name="password">
                        </div>
                    </div>
                
                <button class="button is-primary">Update</button>
            </form>
            
            <div class="box">
                <label class="'label"><b>Current User's Credentials</b></label>
                <p><b>Name :</b> {{user.firstName}} {{user.lastName}}</p>
                <p><b>Email Address :</b> {{user.email}}</p>
                <p><b>Password :</b> {{user.password}}</p>
            </div>

    </section>
        </div>
    </div>
    </div>
    
    
</section>  








